{% extends "innovator/base.html "%}


{% block link %}




<button type="button" class="btn btn-success">logged as:<span class="badge">{{sp_admin.username}} <span></button>


<a class="nav-link" href="{% url 'adminuprove' sp_admin.username %}">  projects for approval  </a>


{% endblock %}

{% block content %}


 <br>
 <br>
 <div class="well-sm text-muted text-center rounded" style="background: #b3ffb3">
      <h1 style="padding: 2px 4px">   admin home page  </h1>
      <br>
 </div>
 <br>






<div class="container">
{% for product in  product.all %}
   <div class="row pt-3">
 
    <div class="col-2 circle">
 	  <img src="{{product.icon.url}}" class="img img-fluid "   />
 	 </div>
   
  

  <div class="col-4">
  <h4>{{product.title}}</h4>

  
  <p>{{product.summary}}</p> 
  </div>
  <div class="col-3">
  <button type="button" class="btn btn-primary">Posted By<span class="badge"> {{product.postedby.username}} </span></button>
  </div>

  <div class="col-3">
  	<button type="button" class="btn btn-success">status <span class="badge"> {{product.prostatus}} </span></button>

  </div>

   
    
   <br/>

 </div>
{% endfor %}
</div>
<br>
<br>



{% endblock %}




