{% extends "innovator/base.html" %}

{% block link  %}


 <a class="nav-link" href="{% url 'home' 1  user.username %}"> home  </a>


{% endblock %}





{% block content %}



{% if error %}
{{ error }}
<br />
<br />
{% endif %}

<br>
<div class="well-sm text-muted text-center rounded" style="background: #b3ffb3">
      <h1 style="padding: 2px 4px">  Product creation page  </h1>
      <br>
</div>
<br>



<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">

{% csrf_token %}

Title:
<br />
<input type="text" name="title"/>
<br />

Body:
<br />
<input type="textbox" name="body" style="line-height: 80px; width: 400px"/>
<br />

Project Status:
<br />
<input type="text" name="prostatus"/>
<br />

Icon:
<br />
<input type="file" name="icon"/>
<br />

Image:

<br />
<input type="file" name="image"/>
<br />
<br />


<input  class="btn btn-primary" type="submit" value="Add product" />


</form>


{% endblock %}
