{% extends "innovator/base.html" %}





{% block link %}
    
    <!-- Nav bar  -->

    

	{% if pname.user_type == "innovator"%}

	    <button type="button" class="btn btn-primary">logged as <span class="badge"> {{pname.username}} </span></button>

      	<a class="nav-link" href="{% url 'managetodo' product.id pname.username  %}"> Manage TODO</a>

      	<a class="nav-link" href="{% url 'manageaccount' product.id pname.username  %}"> Account </a>
        
         {% for stat in  product.encash_request_set.all %}

   			{%if stat.status == "pending"%}
      			<a class="nav-link" href="{% url 'encashstatus' product.id pname.username  %}">Encash status </a>
      		{% endif %}

      		{%if stat.status == "Encashed" %}
      		 	<a class="nav-link" href="{% url 'encashstatus' product.id pname.username  %}">Encash status </a>
      		{% endif %}

	    {% endfor %}

         


      	

      	



	{% endif  %}
     
     

	{% if pname.user_type == "ordinaryuser"%}

	<button type="button" class="btn btn-primary">logged as <span class="badge"> {{pname.username}} </span></button>

   

	{% endif  %}

	<a class="nav-link" href="{%url  'home' tokk pname %}" style="margin-left:8px"> home </a> 
    
    

{% endblock %}





{%block content%}

{% if error %}
{{ error }}
<br />
<br />
{% endif %}



<br>
<div class="well-sm text-muted text-center rounded" style="background: #b3ffb3">
      <h1 style="padding: 2px 4px"> Product  {{product.title}}  </h1>
      <br>
</div>
<br>


<div class="container">
	<div class="row">
		<div class="col-lg-5">
			<img src="{{product.image.url}}" class="img-fluid " height="325"  width="415" />
		</div>
        
	 <div class="col-lg-3">

      {% if pname.user_type == "innovator"%}

	   <button type="button" class="btn btn-info"> <a class="nav-link text-white" href="{% url  'showsubs' product.id pname.username %}"> view the subcribers  </a> </button>
      <br />
	  <br />
	  <button type="button" class="btn btn-info">
	  <a  class="nav-link text-white" href="{% url 'commentshow' product.id pname.username %}">   view comments    </a> </button>

	  <br/>
	  <br/>
	  <button type="button" class="btn btn-info">
	  <a class="nav-link text-white" href="{% url 'todoadd' product.id pname.username %}">  add todo items  </a>
	  </button>

	  <br/>
	  <br/>
	  <button type="button" class="btn btn-info">
	  <a class="nav-link text-white" href="{% url 'manageproject' product.id pname.username %}">  manage  project  </a>
	  </button>
	  <br/>
	  <br/>
	  
	  
	  {% endif  %}


	  {% if pname.user_type == "ordinaryuser"%}

		<div>
		  <a href="javascript:(document.getElementById('subcriber').submit())">
		  	<button type="button" class="btn btn-info">subcribe</button> </a>
		</div>

		<form id="subcriber" method="POST" action="{% url 'subcriber' product.id  pname.username product.postedby.username %}" >
		{% csrf_token %}
		<input type="hidden">
		</form>
        
        <br/>
         
		<a href="{% url  'commentmake' product.id pname.username  %}"> <button type="button" class="btn btn-info"> comment </button> </a>

		<br/>
        <br/>

        <a href="{% url  'tokendonate' product.id pname.username product.postedby.username  %}"> <button type="button" class="btn btn-info"> donate </button> </a>


        
        <br/>
        <br/>


	    {% endif  %}

	    <button type="button" class="btn btn-success">Posted By:<span class="badge">{{product.postedby}} </span></button>

	    <br/>
	    <br/>

	    <button type="button" class="btn btn-success">Posted on:<span class="badge">{{product.pub_date_pretty}} </span></button>

	    <br/>
	    <br/>

	    <button type="button" class="btn btn-success"> Status:<span class="badge">{{product.prostatus}} </span></button>




	    

      </div>

	</div>

</div>

<br/>
<br/>

<div class="container">
  <div class="row pt-4 px-2 rounded" style="background: lightblue">
	<p class="text-justify text-center font-weight-bold ">{{product.body}}</p>
  </div>
</div>

<br/>

<div class="container rounded" style="justify-content: center; ">
	<br>
    <div class="well-sm text-muted text-center rounded pt-1" style="background: #ffff80">
      <h1 > Todo list for   {{product.title}}  </h1>
      <br>
    </div>

       {% for todo in product.todo_set.all %}
        <div class="row "> <div class="col-lg-11" style="margin-left: 15px"> <h2>    {{todo.title}} </h2> </div> </div>
         <br>
        <div class="container">
  		<div class="row pt-4 pb-4 px-2 rounded" style="background: #fff0e6">
		 <div class="col-lg-8"><p class="text-justify text-center font-weight-bold ">{{todo.description}}</p></div>
		 <div class="col-lg-4"> <button type="button" class="btn btn-success"> Status:<span class="badge">{{todo.status}} </span></button>
         </div>

 		 <br>
 		 </div>
 		 <br>
		</div>
		<br>
       {% endfor %}
	
</div>





{% endblock %}