{% if error %}
{{ error }}
<br />
<br />
{% endif %}



<h1>Detail page</h1>

<img src="{{product.image.url}}" >

<p>{{pname.user_type}}</p>

{{product.postedby.username}}



<br/>

{% if pname.user_type == "innovator"%}

<br/>
<a href="{% url  'showsubs' product.id pname.username %}"> <button> view the subcribers </button> </a>

<br/>
<br/>
<a href="{% url 'commentshow' product.id pname.username %}"> <button>  view comments   </button> </a>

<br/>
<br/>
<a href="{% url 'todoadd' product.id pname.username %}"> <button> add todo items </button> </a>

<br/>
<br/>
<a href="{% url 'manageproject' product.id pname.username %}"> <button> manage  project </button> </a>

<br/>
<br/>
<a href="{% url 'managetodo' product.id pname.username  %}"> <button> manage TODO   </button> </a>

<br/>
<br/>
<a href="{% url 'manageaccount' product.id pname.username  %}"> <button>  Acoount  </button> </a>

{% endif  %}








{% if pname.user_type == "ordinaryuser"%}

<div>
  <a href="javascript:(document.getElementById('subcriber').submit())">
  	<button>subcribe</button> </a>
</div>

<form id="subcriber" method="POST" action="{% url 'subcriber' product.id  pname.username product.postedby.username %}" >
{% csrf_token %}
<input type="hidden">
</form>


<a href="{% url  'commentmake' product.id pname.username  %}"> <button> comment </button> </a>

<br/>
<br/>
<br/>


<a href="{% url  'tokendonate' product.id pname.username product.postedby.username  %}"> <button> donate token </button> </a>




{% endif  %}

<br/>
<br/>
<a href="{%url  'home' tokk pname %}"> go back to home </a>