{% extends "innovator/base.html "%}

{% block link %}


 <a class="nav-link" href="{% url 'home' 1  creator.username %}"> home  </a>


{% endblock %}

{% block content %}

 <br>
 <br>
 <div class="well-sm text-muted text-center rounded" style="background: #b3ffb3">
      <h1 style="padding: 2px 4px">  encash page  </h1>
      <br>
 </div>
 <br>




{% if error %}
<div class="alert alert-danger" role="alert">
{{ error }}
</div>
<br />
<br />
{% endif %}


<h5 class="display-3 text-center" style="justify-content: center" >request sent to admin for approval</h5>





<a href="{% url 'detail' product.id creator.username %}" style="justify-content: center" > return to detail page </a>

{% endblock %}