{% extends "innovator/base.html" %}






{% block link %}
<a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
{% endblock %}



{% block content%}


  

{% if error %}
<div class="alert alert-danger" role="alert">
{{ error }}
</div>
<br />
<br />
{% endif %}



<form method="POST" action="{% url 'login' %}" enctype="multipart/form-data">
<br />
<h2 > Innovator login up page </h2>
<br/>

{% csrf_token %}

username
<br />
<input type="text" name="username"/>
<br />

password
<br />
<input type="password" name="password1"/>
<br />
<br />




<input  class="btn btn-primary" type="submit" value="login" />


</form>

<br />
<a href="/loginn"> are you a normal user</a>

<br/>

<a href="/adminpagekey"> are you a admin </a> 


{% endblock %}

