{% extends "innovator/base.html" %}


{%block link %}

<!-- nav link -->

<a class="nav-link" href="{% url 'signupadmin' %}"> sign up   </a>


{% endblock %}

{%block content %}

 <br>
 <div class="well-sm text-muted text-center rounded pt-3" style="background: #b3ffb3">
      <h1 style="padding: 0px 0px"> admin login up   </h1>
      <br>
 </div>
 <br>




{% if error %}
{{ error }}
<br />
<br />
{% endif %}




<form method="POST" action="{% url 'loginadmin' %}" enctype="multipart/form-data">



{% csrf_token %}

username
<br />
<input type="text" name="username"/>
<br />

password
<br />
<input type="password" name="password1"/>
<br />
<br />




<input  class="btn btn-primary" type="submit" value="login" />


</form>


<br />
<a href="/loginn"> are you a normal user</a>

<br/>




{% endblock %}