<h3>Manage project</h3>



<h4> projects posted by {{creator}} </h4>

{% for item in creator.product_set.all %}
   <br/>
     
  
    
       <form method="POST" action="{% url 'manageproject' product.id creator.username %}"> 
       	{% csrf_token %}
       	{{item.title}}  
       <input name="statuschange{{item.id}}" class="btn btn-primary" type="submit" value="statuschange"  style=margin-left:10px;/>
       </form>

       {% if rstat == True and rid == item.id  %}


        



         <form method="POST" action="{% url 'manageproject' product.id creator.username %}" enctype="multipart/form-data">

         	{% csrf_token%}
            select the status of the project

         	<br>
         	<select name="updatestatus" id="todo_status">
				<option value="inprogress">inprogress</option>
				<option value="completed">completed</option>
             </select>
         	<br>

         	<input  class="btn btn-primary" type="submit" value="update" />


         





          </form>

       {% endif %}

    <br/>

    
{% endfor %}