{% extends "innovator/base.html" %}


{%block link%}

<!-- nav link -->

<a class="nav-link" href="{% url 'loginadmin' %}"> login  </a>


{% endblock %}

{% block content %}
<h2> Admin sign up page </h2>

{% if error %}
{{ error }}
<br />
<br />
{% endif %}

{% if success %}
{{success}}
<br />
<br />
{% endif %}



<form method="POST" action="{% url 'signupadmin' %}" enctype="multipart/form-data">



{% csrf_token %}

username
<br />
<input type="text" name="username"/>
<br />

firstname
<br />
<input type="textbox" name="firstname"/>
<br />



email
<br />
<input type="text" name="email"/>
<br />

phone
<br />
<input type="number" name="phone"/>
<br />


password1
<br />
<input type="password" name="password1"/>
<br />

password2
<br />
<input type="password" name="password2"/>
<br />
<br />




<input  class="btn btn-primary" type="submit" value="signup" />


</form>






{% endblock %}