{% extends "innovator/base.html "%}


{% block link%}

<a class="nav-link" href="{% url 'home' 1  creator %}"> home  </a>


{% endblock %}


{% block content %}


 <br>
 <br>
 <div class="well-sm text-muted text-center rounded" style="background: #b3ffb3">
      <h1 style="padding: 2px 4px">  adding todo items for {{product.title}} </h1>
      <br>
 </div>
 <br>




{% if error %}
<div class="alert alert-danger" role="alert">
{{ error }}
</div>
<br />
<br />
{% endif %}
<br />




<form method="POST" action="{% url 'todoadd' product.id  creator %}" enctype="multipart/form-data">

{% csrf_token %}
title 

<br/>
<input type="text" name="title" >
<br/>

description 

<br/>
<input type="text" name="description" style="line-height:80px;width: 500px";>
<br/>
<br/>

todo status

<br/>
<select name="status" id="todo_status">
	<option value="inprogress">inprogress</option>
	<option value="completed">completed</option>
</select>
<br/>
<br/>



<input  class="btn btn-primary" type="submit" value="todoadd" />


{% endblock %}