<h4> add todo </h4>

{% if error %}
{{ error }}
<br />
<br />
{% endif %}
<br />


<h5> adding todo items for {{product.title}} </h5>


<form method="POST" action="{% url 'todoadd' product.id  creator %}" enctype="multipart/form-data">

{% csrf_token %}


title 

<br/>
<input type="text" name="title" >
<br/>

description 

<br/>
<input type="text" name="description" style="line-height:80px;width: 500px";>
<br/>
<br/>


project status

<br/>
<select name="status" id="todo_status">
	<option value="inprogress">inprogress</option>
	<option value="completed">completed</option>
</select>
<br/>
<br/>



<input  class="btn btn-primary" type="submit" value="todoadd" />