{% extends "innovator/base.html" %}


{% block link %}

<a class="nav-link" href="{% url 'home' 2  username %}"> home  </a>

{% endblock %}



{% block content %}


 <br>
 <br>
 <div class="well-sm text-muted text-center rounded pt-3" style="background: #b3ffb3">
      <h1 style="padding: 0px 0px"> donating to  {{prod.title}}  </h1>
      <br>
 </div>
 <br>




{% if error %}
{{ error }}
<br />
<br />
{% endif %}






<form method="POST" action="{% url 'tokendonate' product_id username creator  %}" enctype="multipart/form-data">



{% csrf_token %}

amount of tokens 
<br />
<input type="number" name="amount"/>
<br />


 ten digit numeric key  
<br />
<input type="number" name="key"/>
<br />
<br />




<input  class="btn btn-primary" type="submit" value="donate" />


</form>

{% endblock %}