{% extends "innovator/base.html" %}




{% block link %}
<a class="nav-link" href="{% url 'signupn' %}">Signup</a>
{% endblock %}



{% block content%}




{% if error %}
<div class="alert alert-danger" role="alert">
{{ error }}
</div>
<br />
<br />
{% endif %}


<form method="POST" action="{% url 'loginn' %}" enctype="multipart/form-data">

<h2> user login up page </h2>

{% csrf_token %}
username
<br />
<input type="text" name="username"/>
<br />

password
<br />
<input type="password" name="password1"/>
<br />
<br />




<input  class="btn btn-primary" type="submit" value="login" />


</form>


<a href="/login"> are you a innovator </a>

{% endblock %}